<!-- INCLUDE overall_header.html -->

<h2 class="faq-title">{L_FAQ_TITLE}</h2>


<div class="panel bg1" id="faqlinks">
	<div class="inner">
		<div class="column1">
		<!-- BEGIN faq_block -->
			<!-- IF faq_block.SWITCH_COLUMN or (SWITCH_COLUMN_MANUALLY and faq_block.S_ROW_COUNT == 4) -->
				</div>

				<div class="column2">
			<!-- ENDIF -->

			<dl class="faq">
				<dt><strong>{faq_block.BLOCK_TITLE}</strong></dt>
				<!-- BEGIN faq_row -->
					<dd><a href="#f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}">{faq_block.faq_row.FAQ_QUESTION}</a></dd>
				<!-- END faq_row -->
			</dl>
		<!-- END faq_block -->
		</div>
	</div>
</div>

<!-- BEGIN faq_block -->
	<div class="panel <!-- IF faq_block.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner">

		<div class="content">
			<h2 class="faq-title">{faq_block.BLOCK_TITLE}</h2>
			<!-- BEGIN faq_row -->
				<dl class="faq">
					<dt id="f{faq_block.S_ROW_COUNT}r{faq_block.faq_row.S_ROW_COUNT}"><strong>{faq_block.faq_row.FAQ_QUESTION}</strong></dt>
					<dd>{faq_block.faq_row.FAQ_ANSWER}</dd>
				</dl>
				<a href="#faqlinks" class="top">
					<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>{L_BACK_TO_TOP}</span>
				</a>
				<!-- IF not faq_block.faq_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- END faq_row -->
		</div>

		</div>
	</div>
<!-- END faq_block -->
<div class="panel">
   <div class="inner">
	<span class="corners-top"><span></span></span>
		<div class="content">
			<span id="haut"></span><br><p class="glossa">&nbsp;<a class="cap" href="#A">A</a>&nbsp;&nbsp;<a class="cap" href="#D">D</a>&nbsp;&nbsp;<a class="cap" href="#T">T</a>&nbsp;</p><p><b><a href="./../app.php/gloss?mode=glossedit">Glossar-Bearbeitungsseite</a></b></p><br>
			<p>Begriffe können erläuternde Bilder haben.<br>In diesem Fall gibt es einen Link am Ende der Zeile.<br>Klicke darauf um das Bild anzuzeigen.<br>Klicke erneut auf das Bild um zurückzukehren.</p>
			<table class="deg"><tbody><tr class="deg"><th class="deg0">Begriff</th><th class="deg0">Definition</th><th class="deg1">Bild</th></tr><tr class="deg"><td class="glossi" colspan="2" id="A">&nbsp;A</td><td class="haut"><a href="#haut"><img src="./../ext/lmdi/gloss//styles/top.gif"></a></td></tr>
<tr class="deg"><td class="deg0" id="5"><b>Abenteuer, aber auch Aventurischer Bote</b><br>Abkürzung</td><td class="deg0">Die Abkürzung wird für folgende Begriffe genutzt: 

Abenteuer
Aventurischer Bote</td><td class="deg1">&nbsp;</td></tr>
<tr class="deg"><td class="deg0" id="4"><b>Aberglaube</b><br>Abkürzung</td><td class="deg0">Aberglaube ist ein regeltechnischer Nachteil.<br>Externer Link:  <a class="ilinks" href="http://de.wiki-aventurica.de/wiki/Aberglaube">http://de.wiki-aventurica.de/wiki/Aberglaube</a></td><td class="deg1">&nbsp;</td></tr><tr class="deg"><td class="glossi" colspan="2" id="D">&nbsp;D</td><td class="haut"><a href="#haut"><img src="./../ext/lmdi/gloss//styles/top.gif"></a></td></tr>
<tr class="deg"><td class="deg0" id="3"><b>Das Schwarze Auge</b><br>Abkürzung</td><td class="deg0">Das Schwarze Auge (DSA) ist ein deutsches Pen-&amp;-Paper-Rollenspiel.</td><td class="deg1">&nbsp;</td></tr><tr class="deg"><td class="glossi" colspan="2" id="T">&nbsp;T</td><td class="haut"><a href="#haut"><img src="./../ext/lmdi/gloss//styles/top.gif"></a></td></tr>
<tr class="deg"><td class="deg0" id="1"><b>Test</b><br>Testbegriffe</td><td class="deg0">Ein Verfahren, bei dem man die Funktion von etwas prüft.<br>Siehe auch:  <a class="ilinks" href="#1">test</a></td><td class="deg1">&nbsp;</td></tr></tbody></table>
			<p>
		<span class="m">
		<u>Bibliographie</u><br> 
		
		<u>Webographie</u><br>
		
		<u>Illustrationen</u>
		</span></p>
		</div>
	<span class="corners-bottom"><span></span></span>
   </div>
</div>
<!-- INCLUDE breadcrumb.html -->
<!-- INCLUDE overall_footer.html -->
