<div id="sticker" role="navigation">
	<div class="inner">

	<ul id="nav-main" class="nav-main linklist" role="menubar">

<li class="pnpnews" data-skip-responsive="true"><a href="https://pnpnews.de/" target="_blank" title="PnPNews.de"><i></i><span>PnPnews.de</span></a></li>

		<!-- EVENT overall_header_navigation_prepend -->
		
		<!-- EVENT overall_header_navigation_append -->
		<!-- IF U_ACP -->
			<li data-skip-responsive="true">
				<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
					<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{L_ACP_SHORT}</span>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- IF U_MCP -->
			<li data-skip-responsive="true">
				<a href="{U_MCP}" title="{L_MCP}" role="menuitem">
					<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{L_MCP_SHORT}</span>
				</a>
			</li>
		<!-- ENDIF -->
<li class="discord" data-skip-responsive="true"><a href="https://discord.gg/bgc5sYz" target="_blank" title="DSAForum Discord Server"><i></i><span>Discord</span></a></li>
<li data-skip-responsive="true"><a href="/app.php/kb/index"><i class="icon fa-university fa-fw" aria-hidden="true"></i><span>Wissens-DB</span></a></li>
<li class="wikilink" data-skip-responsive="true"><a href="https://de.wiki-aventurica.de/" target="_blank" title="Wiki Aventurica"><i></i><span>Wiki Aventurica</span></a></li>

	</ul>

	

	</div>
</div>
